# Node
node_modules/
**/node_modules/
npm-debug.log*

# Build outputs
dist/
build/
**/dist/
**/build/

# Rust / Tauri
target/
**/target/
src-tauri/gen/
**/src-tauri/gen/
**/src-tauri/binaries/
**/src-tauri/.cargo/
**/src-tauri/.tauri/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
